html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.maillink {
    text-decoration: none;
    color: black;
}
  .maillink:hover {
    text-decoration: none;
  }

.menu {
  list-style-type: none;
  left: -35px;
  top: -11px;
  position: fixed;
}

.menu li a { 
  line-height: 1.3;
  color: blue;
  text-decoration: none;
}

  .menu:link {
    text-decoration: none;
  }

  .menu:visited {
    text-decoration: none;
  }

.container {
  line-height: 120%; 
  position:absolute;
  top:14%;
  left:14%;
  font-size: 14px;
}

.video-container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
